header {
     background-color: #4587f2;
     text-align:center;
     height: 50px;
     color:#ffffff;
}

footer {
     background-color: #4587f2;
     text-align:center;
     height: 70px;
     color:#ffffff;
}

main {
  background: #b3ecff
}

.R {
  text-align:right;
}
